<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MaxDirLength" value="30" />
    <add key="RegistryPath" value="HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Control\FileSystem\LongPathsEnabled"/>
    <add key="ExcludedTypes" value="CDFS"/> <!-- will not test cd write.-->
    <!-- We have a MAXIMUM folder size defined empirically:
    "{"The specified path, file name, or both are too long. The fully qualified file name must be less than 260 characters, and the directory name must be less than 248 characters."}"
    This will not include 3 chars for the root folder, of the form c:\
    -->
    <add key="MaxFolderLength" value="248"/>
    <add key="InitialFilePathLength" value="259"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>

